.nav-link {
    color: #999;
}

#page_bloc {
    border-top: 1px solid #999999;
}

#login_link {
    margin-left: 2em;
    text-decoration: none;
    color: #999;
}

#logout_link {
    color: #a80707;
}
